body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}
https://github.com/visionmedia/debug/issues/797)
npm install --save-dev chai @types/node @types/mocha @types/chai

